*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    text-align: center;
    font-size: 50px;
    background: mediumaquamarine;
    border-bottom: 2px solid black;
    padding-top: 20px;
    height: 100px;
}

/* main content*/

.main{
    display: grid;
    justify-items: center;
    margin-top: 25px;
}

.game-grid{
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 180px);
    grid-gap: 0px;
}

.grid-item{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    line-height: 150px;
    font-size: 80px;
}

.restart-btn{
    margin-top: 15px;
    width: 250px;
    height: 50px;
    border: 2px solid black;
    background: aquamarine;
    border-radius: 10px;
}

.restart-btn:hover{
    background-color: turquoise;
}

.restart-btn:active{
    background-color: teal;
}

.made-move{
    color: black;
}

.show-move{
    color: grey;
}

.has-won{
    background-color: green;
}
/* footer */

footer{
    position: absolute;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background: gainsboro;
    border-top: 2px solid black;
}

/* responsiveness */

@media screen and (display-mode: fullscreen){
    .game-grid{
        grid-template-columns: repeat(3, 225px);
        grid-template-rows: repeat(3, 200px);
    }
    .restart-btn{
        margin-top: 30px;
    }
}

@media screen and (max-width: 600px){
    .game-grid{
        grid-template-columns: repeat(3, 175px);
        grid-template-rows: repeat(3, 150px);
    }
    .grid-item{
        line-height: 120px;
    }
    .restart-btn{
        margin-top: 50px;
    }
}

@media screen and (max-width: 525px){
    .game-grid{
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, 100px);
    }
    .grid-item{
        line-height: 60px;
    }
}

@media screen and (max-height: 750px){
    *{
        overflow: auto;
    }
    footer{
        display: none;
    }
    .restart-btn{
        margin-bottom: 25px;
    }
}